:root {

    --header-top-color: #01103360;
    --header-bottom-color: #011033;
    --accent-color: #DE840A;
}

* {
    margin: 0;
    padding: 0;
}

button {
    margin: 30px;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
    font-size: medium;
    background-color: white;
    color: #DE840A;
    cursor: pointer;
}

button:hover {
    transition: ease-in 0.3s;
    color: white;
    background-color: #DE840A;
}

/* nav {
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
    margin-right: 50px;
}
nav a {
    position: relative;
    text-decoration: none;
    color: rgb(92, 93, 97);
    margin: 0px 30px;
    font-size: 20px;
} */

/* .main_nav ul li {
    margin: 0 50px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
  } */
a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
    position: relative;
    text-decoration: none;
}

a:hover {
    background-size: 100% 2px;
}


.center {
    display: grid;
    place-items: center;
}